@import "/src/styles/variables.scss";

body {
    font-family: 'Clash Grotesk', sans-serif;
}



button{
  // font-family: "Clash Grotesk"!important;

}
h1{
font-family: "Clash Grotesk";

font-style: normal;
font-weight: 400;

text-transform: capitalize;
}
.Polaris-Badge{
  padding: 4px 8px;
  span{
    font-size: 12px;
  }
}

.Polaris-Button--variantPrimary {
    background: var(--itc-Colors-Button-Primary-Gradient);
    box-shadow: var(--itc-Colors-Button-Shadow-Primary);
  
    &:hover {
      background: var(--itc-Colors-Button-Primary-Gradient-Hover);
      box-shadow: var(--itc-Colors-Button-Shadow-Primary-Hover);
    }
  
    &:active {
      background: var(--itc-Colors-Button-Primary-Gradient-Hover);
      box-shadow: var(--itc-Colors-Button-Shadow-Primary-Pressed);
    }
  }
  
  @media (max-width: 1024px) {
    .Polaris-Button--variantPrimary:hover {
      background: var(--itc-Colors-Button-Primary-Gradient);
      box-shadow: var(--itc-Colors-Button-Shadow-Primary);
    }
  
    .Polaris-Button--variantPrimary:active {
      background: var(--itc-Colors-Button-Primary-Gradient-Hover);
      box-shadow: var(--itc-Colors-Button-Shadow-Primary-Pressed);
    }
  }


.Polaris-Button--sizeMedium{
padding:14px 12px;
border-radius: 10px;


span{
    font-size: 18px!important;

}
}

.countdown-field {
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.347);
    min-width: 54px;
}
.countdown-label {
    min-width: 54px;
}

/* CSS for magnifying glass effect */
.magnifier-container {
  position: relative;
  width: 100%;
  max-width: 504px; /* Adjust as needed */
}
.breadcrumb {
  padding: 16px 0;
  font-size: 14px;
}


.magnifier {
  position: absolute;
  border: 3px solid #fff; /* Adjust border color and width as needed */
  border-radius: 50%;
  cursor: zoom-in;
  width: 140px!important; /* Adjust magnifier size */
  height: 140px!important; /* Adjust magnifier size */
  visibility: hidden;
  transform: translate(-12%,-13%);
  pointer-events: none;
  box-shadow: 0 0 20px rgba(26, 26, 29, 0.222);
  background-repeat: no-repeat;
}

.magnifier-container:hover .magnifier {
  visibility: visible;
}
