:root {
    
    --itc-Colors-Brand-Blood-50:#FEF2F2;
    --itc-Colors-Brand-Blood-100:#FEE2E2;
    --itc-Colors-Brand-Blood-200:#FFC9C9;
    --itc-Colors-Brand-Blood-300:#FDA4A4;
    --itc-Colors-Brand-Blood-400:#FA706F;
    --itc-Colors-Brand-Blood-500:#F24241;
    --itc-Colors-Brand-Blood-600:#E02D2C;
    --itc-Colors-Brand-Blood-700:#BB1B1A;
    --itc-Colors-Brand-Blood-800:#9B1A19;
    --itc-Colors-Brand-Blood-900:#801D1C;
    --itc-Colors-Brand-Blood-950:#460909;

    --itc-Colors-Brand-Dark-50:#F8F7F8;
    --itc-Colors-Brand-Dark-100:#F0EEEE;
    --itc-Colors-Brand-Dark-200:#DED9DA;
    --itc-Colors-Brand-Dark-300:#C1B8BB;
    --itc-Colors-Brand-Dark-400:#9F9196;
    --itc-Colors-Brand-Dark-500:#847379;
    --itc-Colors-Brand-Dark-600:#6C5D62;
    --itc-Colors-Brand-Dark-700:#584C50;
    --itc-Colors-Brand-Dark-800:#4B4144;
    --itc-Colors-Brand-Dark-900:#41393B;
    --itc-Colors-Brand-Dark-950:#231F20;

    
    --itc-Colors-Brand-Marine-50:#EDFAFF;
    --itc-Colors-Brand-Marine-100:#D6F2FF;
    --itc-Colors-Brand-Marine-200:#B5EAFF;
    --itc-Colors-Brand-Marine-300:#83DFFF;
    --itc-Colors-Brand-Marine-400:#48CBFF;
    --itc-Colors-Brand-Marine-500:#1EADFF;
    --itc-Colors-Brand-Marine-600:#068FFF;
    --itc-Colors-Brand-Marine-700:#007BFF;
    --itc-Colors-Brand-Marine-800:#085EC5;
    --itc-Colors-Brand-Marine-900:#0D519B;
    --itc-Colors-Brand-Marine-950:#0E315D;

    --itc-Colors-Semantic-Primary-50:var(--itc-Colors-Brand-Blood-50);
    --itc-Colors-Semantic-Primary-100:var(--itc-Colors-Brand-Blood-100);
    --itc-Colors-Semantic-Primary-200:var(--itc-Colors-Brand-Blood-200);
    --itc-Colors-Semantic-Primary-300:var(--itc-Colors-Brand-Blood-300);
    --itc-Colors-Semantic-Primary-400:var(--itc-Colors-Brand-Blood-400);
    --itc-Colors-Semantic-Primary-500:var(--itc-Colors-Brand-Blood-500);
    --itc-Colors-Semantic-Primary-600:var(--itc-Colors-Brand-Blood-600);
    --itc-Colors-Semantic-Primary-700:var(--itc-Colors-Brand-Blood-700);
    --itc-Colors-Semantic-Primary-800:var(--itc-Colors-Brand-Blood-800);
    --itc-Colors-Semantic-Primary-900:var(--itc-Colors-Brand-Blood-900);
    --itc-Colors-Semantic-Primary-950:var(--itc-Colors-Brand-Blood-950);

    --itc-Colors-Semantic-Action-50:var(--itc-Colors-Brand-Marine-50);
    --itc-Colors-Semantic-Action-100:var(--itc-Colors-Brand-Marine-100);
    --itc-Colors-Semantic-Action-200:var(--itc-Colors-Brand-Marine-200);
    --itc-Colors-Semantic-Action-300:var(--itc-Colors-Brand-Marine-300);
    --itc-Colors-Semantic-Action-400:var(--itc-Colors-Brand-Marine-400);
    --itc-Colors-Semantic-Action-500:var(--itc-Colors-Brand-Marine-500);
    --itc-Colors-Semantic-Action-600:var(--itc-Colors-Brand-Marine-600);
    --itc-Colors-Semantic-Action-700:var(--itc-Colors-Brand-Marine-700);
    --itc-Colors-Semantic-Action-800:var(--itc-Colors-Brand-Marine-800);
    --itc-Colors-Semantic-Action-900:var(--itc-Colors-Brand-Marine-900);
    --itc-Colors-Semantic-Action-950:var(--itc-Colors-Brand-Marine-950);

    --itc-Colors-Button-Primary-Gradient: linear-gradient(180deg, var(--itc-Colors-Semantic-Action-700) 60%, var(--itc-Colors-Semantic-Action-500) 100%);
    --itc-Colors-Button-Primary-Gradient-Hover:linear-gradient(180deg, var(--itc-Colors-Semantic-Action-900) 60%, var(--itc-Colors-Semantic-Action-800) 100%);
    
    --itc-Colors-Button-Shadow-Primary:0rem -0.0625rem 0rem 0.0625rem var(--itc-Colors-Semantic-Action-900) inset, 0rem 0rem 0rem 0.0625rem var(--itc-Colors-Semantic-Action-700) inset, 0rem 0.03125rem 0rem 0.09375rem var(--itc-Colors-Semantic-Action-400) inset;
    --itc-Colors-Button-Shadow-Primary-Hover:0rem -0.0625rem 0rem 0.0625rem var(--itc-Colors-Semantic-Action-900) inset, 0rem 0rem 0rem 0.0625rem var(--itc-Colors-Semantic-Action-700) inset, 0rem 0.03125rem 0rem 0.09375rem var(--itc-Colors-Semantic-Action-400) inset;
    --itc-Colors-Button-Shadow-Primary-Pressed:0rem 0.1875rem 0rem 0rem var(--itc-Colors-Semantic-Action-950) inset;

}

